DB_HOST=db
DB_PORT=5432
DB_USER=omni_admin
DB_PASSWORD=change_me_strong_password
DB_NAME=omnidb

TELEGRAM_TOKEN=YOUR_BOT_TOKEN
CHAT_ID=YOUR_CHAT_ID
TOPIC_EUA=9
TOPIC_CRIPTO=7
TOPIC_LOGS=11

IB_USER=YOUR_IBKR_USERNAME
IB_PASSWORD=YOUR_IBKR_PASSWORD
IB_TRADING_MODE=paper
IB_VNC_PASSWORD=change_me_vnc_password
IB_PORT=4002
IB_CLIENT_ID=1

BINANCE_API_KEY=YOUR_BINANCE_API_KEY
BINANCE_SECRET_KEY=YOUR_BINANCE_SECRET_KEY

INITIAL_CAPITAL_US=10000
INITIAL_CAPITAL_ASIA=10000