# Environments
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Omitir lixo e logs
*.log
.pytest_cache/
.coverage
htmlcov/

# Models
*.pkl
*.joblib

# Environments
venv/
node_modules/
.agents/
